@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none; font-style:normal;}

a,img{border:0;}
h1{font-size: 30px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
body,textarea,input,button,select,keygen,legend{
	font:12px/180% "微软雅黑";
	color:#2d3443;
	outline:0;
	margin:0 auto;
}
.clear{
	clear: both;
}

body{
	font:12px/180% "微软雅黑", Arial, Helvetica, sans-serif;
	background:#19273b;
}

.body{
	background-image:url(../img/bg.jpg);
	background-size:100%;
	background-repeat:repeat-x;
	background-repeat:repeat-y;
	padding-top:5%;
}

.amap-pls-marker-tip .title{
	font-size:12px;
}
.amap-info-close{
	right: 5px!important;
}

/*断路器样式*/
.bg{
	background:#2d3443;
}
.top{
	width:100%;
	height:40px;
	background:#ffffff;
	line-height:40px;
	padding-left:2%;
	padding-right:2%;
	color:#313131;
	position:fixed;
	top:0;
	left:0;
}
.title{
	color: #ed2e37;
	font-size:22px;
	float:left;
	font-weight:bold;
}
.top_logo{
	float:left;
}
.top_logo img{
	width:95%;
}
.top span{
	display:block;
	float:left;
}
.date{
	margin-left:1%;
	float:right;
}

.data{
	padding-left:0.5%;
	padding-right:0.5%;
	margin-left:1%;
	float:right;
}

.person{
	float:right;
	margin-left:2%;
}
.quit{
	float:right;
	margin-left:2%;
}
.menu_dl{
	width:100%;
	height:50px;
	background: #281ef0;
	position:fixed;
	top:40px;
	left:0;
}
.menu_dl ul li{
	display:block;
	float:left;
	height:50px;
	line-height:50px;
	color:#fff;
	padding-left:1%;
	padding-right:1%;
	cursor:pointer;
}
.menu_dl ul li:hover{
	background:#e14820;
}
.menu_dl ul li:active{
	background:#cc3f1a;
}
.current_nav_f{
	background:#cc3f1a;
}
.menu_dl ul li span{
	line-height:50px;
	height:50px;
	display:block;
	float:left;
}
.icon{
	float:left;
	margin-top:13px;
	margin-left:30%;
}
.line{
	float:left;
}
.part_content{
	width:100%;
	position:absolute;
	top:90px;
	left:0;
	z-index:-1;
}
.main_left_dl{
	float:left;
	width:15%;
	background:#e8ecf2;
	overflow:auto;
	position:absolute;
	left:0;
	top:0;
}
.nav_first{
	display:flex;
	width:100%;
	border-bottom:1px solid #caced5;
	border-top:1px solid #f7f9fb;
	height:4rem;
	cursor:pointer;
}
.nav_first:hover{
	background:#d8dce2;
}
#current_nav{
	background:#d8dce2;
}
.nav_first span{
	display:block;
	float:left;
	font-size:12px;
}
.nav_first span img{
	width:1rem;
	line-height:4rem;
}
.c01{
	margin-left:0.3rem;
	line-height:4rem;
}
.c02{
	margin-left:0.5rem;
	line-height:3.5rem;
}
.nav_second{
	display:flex;
	width:100%;
	background:#ffffff;
	height:2.5rem;
	cursor:pointer;
	/*line-height:2rem;*/
}
.nav_second span{
	display:block;
	float:left;
}
.nav_second span img{
	width:0.8rem;
}
.c03{
	margin-left:0.4rem;
	line-height:2rem;
}
.c04{
	margin-left:1.5rem;
	line-height: 1.9rem;
}
.nav_second:hover{
	background:#d8dce2;
}
.nav_third{
	display:block;
	width:100%;
	background:#ffffff;
	height:1.8rem;
	cursor:pointer;
	line-height:1.8rem;
}
.nav_third span{
	display:block;
}
.c05{
	margin-left:3rem;
	line-height:1.8rem;
}
/**添加4级侧边**/
.m01{
	margin-left:2.5rem;
	line-height:1.8rem;
}
.m02{
	line-height:1.8rem;
}
.m03{
	margin-left:4rem;
	line-height:1.8rem;
}
.my_nav_third{
	display:block;
	width:100%;
	background:#ffffff;
	height:2rem;
	cursor:pointer;
}
.my_nav_third span{
	display:inline-block;
}
.my_nav_third:hover{
	background:#f04d22;
	color:#fff;
}
.my_nav_third span img {
	width: 0.75rem;
}
.my_nav_four{
	display:block;
	width:100%;
	background:#ffffff;
	height:1.8rem;
	cursor:pointer;
	line-height:1.8rem;
}
.my_nav_four span{
	display:block;
}
.my_nav_four:hover{
	background:#f04d22;
	color:#fff;
}
/**添加4级侧边**/
.nav_third:hover{
	background:#f04d22;
	color:#fff;
}
.current_02{
	background:#f04d22;
	color:#fff;
}
.content_dl{
	cursor:pointer;
}

.main_mid_dl{
	float:left;
	width:84.5%;
	background:#e8ecf2;
	margin-left:0.5%;
	overflow:auto;
	position:absolute;
	left:15%;
	top:0;
}
.tab_box{
	width:84.5%;
	height:40px;
	background:#2d3443;
	position:fixed;
	left:15.5%;
	top:90px;
	border-bottom:1px solid #f04d22;
	z-index:99999;
}
.tab_box ul li{
	display:block;
	float:left;
	padding-left:2%;
	padding-right:2%;
	border:1px solid #f04d22;
	box-sizing:border-box;
	height:30px;
	line-height:30px;
	color:#f04d22;
	text-align:center;
	margin-right:0.5%;
	margin-top:10px;
	border-bottom:none;
	background:#fbf2ef;
	border-radius:10px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	font-size:13px;
	cursor:pointer;
}
.tab_box ul li:hover{
	background:#f9e3dc;
}
.tab_box ul li.current_box{
	background:#f04d22;
	color:#fff;
}
.content{
	width:100%;
	margin-bottom:1%;
}
.content span{
	display:block;
	float:left;
}
.c06{
	width:24%;
	text-align:right;
	line-height:2em;
}

.c07{
	float:left;
	text-align:left;
	width:50%;
	background:#d3d8e1;
	height:28px;
	line-height:28px;
	border-radius:3px;
	padding-left:1%;
}
.c08{
	float:left;
	text-align:left;
	width:50%;
	background:#d3d8e1;
	height:108px;
	line-height:28px;
	border-radius:3px;
	padding-left:1%;
}
.station_dl{
	width:98%;
	margin:0 auto;
	height:2.8rem;
	line-height:2.8rem;
}
.station_dl_left{
	float:left;
	line-height:2.8rem;
}
.station_dl_right{
	float:right;
	line-height:2.8rem;
	width:50%;
	text-align:right;
	margin-right:1%;
}
.station_dl_right span{
	display:block;
	float:right;
}
.station_dl_right span img{
	width:1.2rem;
	height:1.2rem;
	margin-top:0.8rem;
	display:block;
	float:left;
}
.c09{
	color:#22ac38;
}
.c35{
	color:#f04d22;
}
.c10{
	color:#ff4444;
}
.chart{
	width:48%;
	float:left;
	border-radius:5px;
	background:#e8ecf2;
	margin-left:1%;
	margin-bottom:1%;
}
.chart_top{
	height:28px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background:#81858e;
	line-height:28px;
	padding-left:2%;
	padding-right:2%;
	width:96%;
	color:#fff;
}
.chart_tab{
	padding:2%;
	background:#ecf0f6;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.c11{
	float:left;
	text-align:left;
	width:50%;
	line-height:2em;
}
.c12{
	height:2em; 
	line-height:2em; 
	border:none; 
	background:#fbf2ef; 
	display:block; 
	width:10%; 
	float:left; 
	margin-left:2%;
	border-radius:3px;
	cursor:pointer;
}
.c13{
	height:2em; 
	display:block; 
	width:8%; 
	float:left; 
	margin-left:2%;
	border-radius:3px;
	cursor:pointer;
}
.c14{
	background:#2fd783;
}
.build{
	display:block;
	width:4%;
	float:left;
	margin-left:15%;
	height:2em;
	line-height:2em;
	background:#f04d22;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}

.build:hover{
	background:#e14820;
}
.build:active{
	background:#cc3f1a;
}
.chart02{
	width:60%;
	border-radius:5px;
	background:#ffffff;
	margin:0 auto;
	margin-top:2%;
	padding:2%;
}
.sheet{
	width:64%;
	margin:0 auto;
	border:1px solid #81858e;
	border-right:none;
	border-bottom:none;
	background:#ffffff;
	margin-top:2%;
}
.sheet tr th{
	text-align:center;
	border-right:1px solid #81858e;
	border-bottom:1px solid #81858e;
	line-height:24px;
}
.sheet tr td{
	text-align:center;
	border-right:1px solid #81858e;
	border-bottom:1px solid #81858e;
	line-height:24px;
}
.build02{
	display:block;
	width:10%;
	float:right;
	height:2em;
	line-height:2em;
	background:#f04d22;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}
.build02:hover{
	background:#e14820;
}
.build02:active{
	background:#cc3f1a;
}
.part_r_mode_02{
	width:98%;
	padding-left:1%;
	padding-right:1%;
	margin:0 auto;
	height:50px;
	/*border-bottom:1px solid #eeeeee;*/
}
.part_r_mode_02 a{
	display:block;
	float:right;
	margin-right:1%;
}
.unchose{
	height:30px;
	line-height:30px;
	border-radius:5px;
	background:#fbf2ef;
	border:1px solid #f04d22;
	color:#f04d22;
	font-size:14px;
	padding-left:1%;
	padding-right:1%;
	margin-top:10px;
	cursor:pointer;
}
.chose{
	height:30px;
	line-height:30px;
	border-radius:5px;
	background:#f04d22;
	border:1px solid #f04d22;
	color:#ffffff;
	font-size:14px;
	padding-left:1%;
	padding-right:1%;
	margin-top:10px;
	cursor:pointer;
}
.unchose:hover{
	background:#f9e3dc;
}
.chose:hover{
	background:#f25a31;
}
.part_r_mode_02 a img{
	display:block;
	margin-top:3px;
	float:left;
}
.part_r_mode_02 a span{
	display:block;
	float:left;
}
.list_title{
	width:98%;
	margin:0 auto;
	padding-top:1%;
	padding-bottom:1%;
	border-bottom:1px solid #eeeeee;
}
.list_title p{
	line-height:2em;
	border-left:2px solid #f04d22;
	padding-left:10px;
}
.over{
	display:block;
	width:10%;
	margin:0 auto;
	height:2em;
	line-height:2em;
	background:#f04d22;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}
.over:hover{
	background:#e14820;
}
.over:active{
	background:#cc3f1a;
}


.chart_f{
	width:90%;
	margin:0 auto;
	border-radius:5px;
	background:#ffffff;
	margin-bottom:1%;
}
.chart_top_f{
	height:28px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background:#81858e;
	line-height:28px;
	padding-left:1%;
	width:99%;
	color:#fff;
}
.chart_tab_f{
	padding:2%;
	background:#ecf0f6;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.sheet_f{
	width:100%;
	margin:0 auto;
	border:1px solid #81858e;
	border-right:none;
	border-bottom:none;
	background:#ffffff;
}
.sheet_f tr th{
	text-align:center;
	border-right:1px solid #81858e;
	border-bottom:1px solid #81858e;
	line-height:24px;
}
.sheet_f tr td{
	text-align:center;
	border-right:1px solid #81858e;
	border-bottom:1px solid #81858e;
	line-height:24px;
	vertical-align:middle;
}
.opr{
	padding-left:1%;
	padding-right:1%;
	color:#1A98F1;
	cursor:pointer;
}
.c15{
	color:#f04d22;
}
.c16{
	color:#22ac38;
}
.sheet_choice{
	width:98%;
	margin:0 auto;
}
.sheet_det{
	width:24%;
	float:left;
}
.sheet_choice img{
	display:block;
	float:left;
	width:1.5em;
	margin-left:0.5%;
	margin-right:0.5%;
	margin-top:80px;
}
.sheet_list{
	width:98%;
	background:#ecf0f6;
	border-radius:5px;
	height:12em;
	overflow:auto;
	padding:1%;
	line-height:2em;
}
.sheet_list span{
	display:block;
	cursor:pointer;
}
.build03{
	display:block;
	width:10%;
	float:left;
	margin-left:2%;
	height:2em;
	line-height:2em;
	margin-top:12em;
	background:#f04d22;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}
.build03:hover{
	background:#e14820;
}
.build03:active{
	background:#cc3f1a;
}


/*全体运行状况*/
.window{
	width:10%;
	background:#ffffff;
	border:1px solid #f04d22;
	border-radius:5px;
	position:relative;
	top:4%;
	left:85%;
	line-height:2.5em;
	padding-left:1%;
	padding-right:1%;
	color:#f04d22;
	z-index: 1;
}
/*scada*/
.part_s{
	width:100%;
	height:55px;
	background:#2d3443;
	position:fixed;
	top:90px;
	left:0;
}
.part_s_left{
	width:10%;
	float:left;
	height:55px;
	background:#2d3443;
	border-right:1px solid #3b4458;
	box-sizing:border-box;
	text-align:center;
	cursor:pointer;
}
.part_s_left:hover{
	background:#3b4458;
}
.part_s_left span{
	color:#ffffff;
	line-height:55px;
}
.part_s_right{
	width:90%;
	float:left;
	height:55px;
	background:#2d3443;
}
.part_s_right a{
	display:block;
	float:left;
	margin-left:2%;
	height:30px;
	background:#f04d22;
	line-height:30px;
	color:#ffffff;
	border-radius:5px;
	padding-left:2%;
	padding-right:2%;
	margin-top:13px;
	cursor:pointer;
}
.part_s_right a:hover{
	background:#f4896c;
}
.part_s_right a:active{
	background:#cc3f1a;
}
.c17{
	float:left;
	text-align:left;
	width:30%;
	background:#ffffff;
	height:28px;
	line-height:28px;
	border-radius:3px;
	padding-left:1%;
	border:1px solid #d3d8e1;
}
.c18{
	float:left;
	text-align:left;
	width:30%;
	background:#ffffff;
	height:2em;
	line-height:2em;
	border-radius:3px;
	padding-left:1%;
	border:1px solid #d3d8e1;
}
.build_g{
	display:block;
	width:10%;
	float:left;
	margin-left:15%;
	height:2em;
	line-height:2em;
	background:#22ac38;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}

.build_z{
	display:block;
	width:4%;
	float:left;
	margin-left:15%;
	height:2em;
	line-height:2em;
	background:#22ac38;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}

.build_g:hover{
	background:#14a72b;
}
.build_g:active{
	background:#0f9c26;
}

.bg_03{
	width:100%;
	height:100%;
	position:fixed;
	top:90px;
	left:0;
	/*background:rgba(0,0,0,0.8);*/
}
.window_add{
	width:30%;
	margin:0 auto;
	margin-top:1%;
	background:#f04d22;
	border-radius:5px;
	padding:0.3%;
}
.title_w{
	color:#ffffff;
	font-size:16px;
}
.title_w span{
	float:left;
}
.title_w img{
	float:right;
	width:1.5em;
	height:1.5em;
}
.window_c{
	background:#ffffff;
	margin-top:2%;
	border-radius:3px;
	padding:3%;
	height:25em;
}
.window_l{
	height:20em;
	width:100%;
	overflow:auto;
}
.window_btn{
	height:3em;
	width:100%;
}
.item{
	width:100%;
	border-bottom:1px solid #e8ecf2;
	line-height:4em;
	font-size:12px;
}
.window_btn a{
	display:block;
	height:2em;
	width:60%;
	margin:0 auto;
	margin-top:0.5em;
	color:#ffffff;
	text-align:center;
	background:#f04d22;
	border-radius:5px;
	line-height:2em;
	cursor:pointer;
}
.window_btn a:hover{
	background:#e14820;
}
.window_btn a:active{
	background:#cc3f1a;
}
.window_c_2{
	background:#ffffff;
	margin-top:2%;
	border-radius:3px;
	padding:3%;
	padding-top:0;
	height:41em;
}
.window_l_2{
	height:38em;
	width:100%;
	overflow:auto;
}
.item_t{
	width:100%;
	border-bottom:1px solid #e8ecf2;
	line-height:3em;
	font-size:12px;
}
.item_2{
	width:100%;
	line-height:3em;
	font-size:12px;
}
.item_2 span{
	width:20%;
	float:left;
	display:block;
}
.item_2 input{
	display:block;
	float:left;
	border-radius:3px;
	height:2em;
	line-height:2em;
	margin-top:0.3em;
	border:1px solid #d3d8e1;
	width:70%;
	padding-left:2%;
}
.item_2 textarea{
	display:block;
	float:left;
	border-radius:3px;
	height:6em;
	line-height:2em;
	margin-top:0.3em;
	border:1px solid #d3d8e1;
	width:70%;
	padding-left:2%;
}
.item_2 img{
	display:block;
	float:left;
	width:2%;
	margin-left:1%;
}
.show2{
	display:block;
	float:left;
	border-radius:3px;
	height:2.3em;
	line-height:2.3em;
	margin-top:0.3em;
	border:0;
	background:#e8ecf2;
	width:25%;
}
.window_l_2 a{
	display:block;
	width:20%;
	background:#f04d22;
	border-radius:3px;
	color:#ffffff;
	text-align:center;
	line-height:2em;
	float:right;
	margin-top:2%;
	cursor:pointer;
}
.window_l_2 a:hover{
	background:#e14820;
}
.window_l_2 a:active{
	background:#cc3f1a;
}
.line_02{
	width:100%;
	border-bottom:1px solid #caced5;
}
.tab_pro{
	width:32%;
	float:left;
	height:8em;
	border:1px solid #d3d8e1;
	border-radius:3px;
	overflow:auto;
	padding:1%;
	line-height: 1.2em
}
.tab_pro p{
	width:100%;
	cursor: pointer;
}
.tab_pro p:hover{
	background: #d8dce2;
}

.tab_pro_c{
	width:32%;
	float:left;
	padding:1%;
	margin-left:1%;
	height:8em;
	background:#ecf0f6;
	line-height:1.2em;
	overflow:auto;
	border-radius:3px;
}
.tab_pro_c p{
	width:100%;
	cursor:pointer;
}
.tab_pro_c p:hover{
	background:#d8dce2;
}


.nav{
	padding-top:5px;
	text-align:center;
	float:right;
	color:#ffffff;
	width:9%;
	line-height:25px;
	cursor:pointer;
}
.nav:hover{
	background:#e14820;
}
.nav:active{
	background:#cc3f1a;
}
.line_nav{
	width:1px;
	height:30px;
	background:#3b4458;
	margin-top:15px;
	float:right;
}
.c17{
	float:left;
	display:block;
	text-align:left;
	width:30%;
	background:#ffffff;
	border:1px solid #d3d8e1;
	height:2em;
	line-height:2em;
	border-radius:3px;
	padding-left:1%;
}
.content_run{
	width:100%;
	margin-top:1%;
	margin-bottom:1%;
	border:1px solid #81858e;
	border-right:none;
	border-bottom:none;
	background:#ffffff;
}
.content_run tr td{
	text-align:center;
	border-right:1px solid #81858e;
	border-bottom:1px solid #81858e;
	line-height:24px;
	vertical-align:middle;
}
.bg_td{
	background:#d3d8e1;
}

.nav_for{
	display:block;
	width:100%;
	background:#edf1f7;
	border-bottom:1px solid #caced5;
	border-top:1px solid #f7f9fb;
	height:2.6rem;
	cursor:pointer;
}
.nav_for:hover{
	background:#d8dce2;
}
#current_nav_for{
	background:#d8dce2;
}
.nav_for span{
	display:block;
	float:left;
	font-size:12px;
}
.nav_for span img{
	width:0.9rem;
}
.c30{
	margin-left:0.2rem;
	line-height:2.6rem;
}
.c31{
	margin-left:1.0rem;
	margin-top:0.4rem;
}
.c32{
	margin-left:2rem;
	/*margin-top:0.6rem;*/
}

.over02{
	display:block;
	width:10%;
	margin:0 auto;
	height:2em;
	line-height:2em;
	background:#22ac38;
	color:#fff;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}
.over02:hover{
	background:#14a72b;
}
.over02:active{
	background:#0f9c26;
}



.footer{
	width:100%;
	text-align:center;
	color:#b7c3dd;
	position:fixed;
	bottom:5px;
	left:0;
}

.sheet_list span:hover{
	background:#d8dce2;
}
.sheet_list span.chose_c{
	background:#d8dce2;
}

.date_title{
	width:100%;
	height:24px;
	line-height:24px;
	/*padding-top:2px;*/
	padding-bottom:2px;
	background:#f8f3f2;
	padding-left:1%;
	padding-right:1%;
}
.c36{
	color:#f04d22;
	width:auto;
	display: inline-block;
}
.c37{
	width:28%;
	padding-left:1%;
	padding-right:1%;
	border-right:1px solid #caced5;
	box-sizing:border-box;
}
.c38{
	width:28%;
	padding-left:1%;
	padding-right:1%;
	border-right:1px solid #caced5;
	box-sizing:border-box;
}
.c39{
	width:28%;
	padding-left:1%;
	padding-right:1%;
}
.pro_list{
	width:98%;
	padding-left:1%;
	padding-right:1%;
	height:28px;
	line-height:28px;
	border-bottom:1px dotted #caced5;
	color:#666666;
}

.user_current_nav{
	background:#d8dce2;
}

