<div class="window_add" style="width: 100%;height:100%;margin-top:0px;">
    <div class="title_w">
        <span ng-if="deviceInfo.intDeviceid == undefined">设备追加</span>
        <span ng-if="deviceInfo.intDeviceid != undefined">设备信息修改</span>
        <img src="resources/img/close.png" ng-click="cancel();">
        <div class="clear"></div>
    </div>
    <div class="window_c_2" style="height: 36em">
        <div class="window_l_2" style="height: 32em">
            <div class="item_2">
                <span>工程名</span>
                <select class="show2" ng-model="selectPj" ng-change="changePjId()">
                    <option></option>
                    <option ng-repeat="pj in proInfoList" value={{pj.intDBPkPjinfoid}}>{{pj.strPjName}}</option>
                </select>
                <div class="clear"></div>
            </div>
            <div class="item_2">
                <span>工程节点</span>
                <select class="show2" ng-model="selectUnit">
                    <option></option>
                    <option ng-repeat="unit in unitInfoList|filter:{intDBPkPjinfoid:selectPj}" value={{unit.intPjUnitId}}>{{unit.strUnitName}}</option>
                </select>
                <div class="clear"></div>
            </div>
            <div class="item_2">
                <span>设备种类</span>
                <select class="show2" ng-model="selectKind">
                    <option></option>
                    <option ng-repeat="dk in deviceKindInfoList" value={{dk.intDeviceKindId}}>{{dk.strDeviceKindName}}</option>
                </select>
                <div class="clear"></div>
            </div>
            <div class="item_2">
                <span>设备名</span>
                <input type="text" ng-model="deviceInfo.strDeviceName">
                <div class="clear"></div>
            </div>
            <div class="item_2">
                <span>GUID</span>
                <input type="text" ng-model="deviceInfo.strGuid" disabled>
                <div class="clear"></div>
            </div>
            <div class="item_2">
                <span>厂商</span>
                <select class="show2" ng-model="selectVendor">
                    <option></option>
                    <option ng-repeat="vendor in vendorList" value={{vendor.intVendorId}}>{{vendor.strName}}</option>
                </select>
                <!--<input type="text" ng-model="deviceInfo.strVendor">-->
                <div class="clear"></div>
            </div>
            <div class="item_2">
                <span>设备型号</span>
                <select class="show2" ng-model="selectMacModel">
                    <option></option>
                    <option ng-repeat="macModel in macModelList" value={{macModel.intDeviceModelId}}>{{macModel.strName}}</option>
                </select>
                <!--<input type="text" ng-model="deviceInfo.strModel">-->
                <div class="clear"></div>
            </div>
            <!--<div class="item_2">
                <span>设备图片</span>
                <input type="text" ng-model="deviceInfo.strDeviceSnapShot">
                <div class="clear"></div>
            </div>-->
            <div class="item_2">
                <span>安装位置</span>
                <input type="text" ng-model="deviceInfo.strPosition">
                <div class="clear"></div>
            </div>
            <div class="item_2">
                <span>追加说明</span>
                <textarea  ng-model="deviceInfo.strDeviceNote"></textarea>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="window_btn"><a ng-click="ok();this.blur();">提交</a></div>
    </div>
</div>