<!--<div class="logo"><img src="../../img/logo.png" /></div>-->
<div style="color: #ffffff; text-align: center; line-height: 80px; font-size:40px">光伏功率预测监控系统</div>
<!--<div class="light"><img src="../../img/light.png"></div>-->
</br>
<div class="login">
	<input class="f_form" id="userIdInput" type="text" placeholder="请输入用户名">
	<input class="f_form" id="passwordInput" type="password" placeholder="请输入密码" style="margin-bottom:5%">
    <div class="remember">
		<div class="left">
			<img class="unselected" src="../../img/unselected.png" style="width:1.6rem; height:1.6rem;" ng-click="rememberPassWord()">
            <span>记住账号</span>
            <div class="clear"></div>
		</div>
		<div class="right"><a>忘记密码？</a></div>
		<div class="clear"></div>
	</div>
    <a class="btn" xlink:href="" ng-click="login()">登录</a>

</div>
