<!--画布 开始-->
<div class="part_content">
    <div id="left" class="main_left_dl">
        <ul id="huabu" style="OVERFLOW-Y: auto; OVERFLOW-X:auto; width:100%;">
            <li class="nav_first nav_active" onclick="this.blur(); return false;">
                <span class="c02"><img src="resources/img/nav_tag.png" /></span>
                <span class="c01">甘肃省</span>
                <div class="clear"></div>
            </li>
            <ul class="content_dl nav_active">
                <li class="nav_for nav_active">
                    <span class="c31"><img src="resources/img/nav_tag.png" /></span>
                    <span class="c30">兰州市</span>
                    <div class="clear"></div>
                </li>
                <ul style="display: initial">
                    <li class="nav_second nav_active" id="current_nav">
                        <span class="c04"><img src="resources/img/nav_tag.png" /></span>
                        <span class="c03">兰州xxx工程</span>
                        <div class="clear"></div>
                    </li>
                    <ul class="content_dl nav_active">
                        <li class="nav_second">
                            <span class="c32"><img src="resources/img/nav_tag.png" /></span>
                            <span class="c03">云网关设备1</span>
                            <div class="clear"></div>
                        </li>
                        <ul>
                            <li  class="nav_third"><span class="c05">子程序模块</span></li>
                            <li  class="nav_third"><span class="c05">启动子模块设定</span></li>
                            <li  class="nav_third"><span class="c05">串口设置</span></li>
                            <li  class="nav_third"><span class="c05">网口设置</span></li>
                            <li  class="nav_third"><span class="c05">蓝牙设置</span></li>
                            <li  class="nav_third"><span class="c05">3G设置</span></li>
                            <li  class="nav_third"><span class="c05">信道配置</span></li>
                            <li  class="nav_second nav_active">
                                <span class="c04" style="margin-left:3rem;">
                                    <img src="resources/img/nav_tag.png" />
                                </span>
                                <span class="c03">前端采集数据</span>
                                <div class="clear"></div>
                            </li>
                            <ul>
                                <li  class="nav_third">
                                    <span class="c05" style="margin-left:4rem">设备1</span>
                                </li>
                                <li  class="nav_third">
                                    <span class="c05" style="margin-left:4rem">设备2</span>
                                </li>
                            </ul>
                            <li class="nav_third"><span class="c05">后台转发数据</span></li>
                            <li class="nav_third"><span class="c05">云端转发数据</span></li>
                        </ul>
                    </ul>
                </ul>
            </ul>



        </ul>
    </div>
    <div id="mid" class="main_mid_dl" style="z-index:20" >
        <div id="huabu1">
            <table class="sheet" style="width:95%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>云网关设备名</th>
                    <th>GUID</th>
                    <th>IP</th>
                    <th>操作</th>
                    <th>点表相关</th>
                    <th>设备相关</th>
                </tr>
                <tr>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>
                        <span class="opr c15">删除</span>
                        <span class="opr">修改</span>
                    </td>
                    <td>
                        <span class="opr">详细</span>
                        <span class="opr c15">传送</span>
                        <span class="opr c16">履历</span>
                    </td>
                    <td>
                        <span class="opr c16">激活</span>
                        <span class="opr c15">停止</span>
                    </td>
                </tr>
            </table>
            <div style="width:95%; margin:0 auto; margin-top:1%;">
                <a class="build02" onclick="this.blur(); return false;">追加</a>
                <div class="clear"></div>
            </div>

        </div>
    </div>

    <div class="clear"></div>
</div>
<!--画布 结束-->
