<!--<div id="left" class="main_left_dl">
    <ul id="huabu" style="OVERFLOW-Y: auto; OVERFLOW-X:auto; width:100%;">-->
        <li class="nav_first" ng-class="{'user_current_nav':$state.includes('userManage.padChange')}" ng-click="this.blur();$state.go('userManage.padChange')">
            <span class="c02"><img src="resources/img/tag_p.png" /></span>
            <span class="c01">密码管理</span>
            <div class="clear"></div>
        </li>
        <li class="nav_first" ng-class="{'user_current_nav':$state.includes('userManage.userInfoManage')}" ng-click="this.blur();$state.go('userManage.userInfoManage')">
            <span class="c02"><img src="resources/img/tag_per.png" /></span>
            <span class="c01">用户管理</span>
            <div class="clear"></div>
        </li>
        <li class="nav_first" ng-class="{'user_current_nav':$state.includes('userManage.proManage')}" ng-click="this.blur();$state.go('userManage.proManage')">
            <span class="c02"><img src="resources/img/tag_por.png" /></span>
            <span class="c01">工程信息管理</span>
            <div class="clear"></div>
        </li>
        <li class="nav_first" ng-class="{'user_current_nav':$state.includes('userManage.unitManage')}" ng-click="this.blur();$state.go('userManage.unitManage')">
            <span class="c02"><img src="resources/img/tag_unti.png" /></span>
            <span class="c01">工程节点信息管理</span>
            <div class="clear"></div>
        </li>
        <li  class="nav_first" ng-class="{'user_current_nav':$state.includes('userManage.macManage')}" ng-click="this.blur();$state.go('userManage.macManage')">
            <span class="c02"><img src="resources/img/tag_mac.png" /></span>
            <span class="c01">设备信息管理</span>
            <div class="clear"></div>
        </li>
<!--
    </ul>
</div>-->
