<!--<div id="mid" class="main_mid_dl" style=" z-index:20" >
    <div id="huabu1">-->
        <div class="list_title">
            <p>密码修改</p>
            <div class="content">
                <span class="c06" style="line-height:28px">旧密码：</span>
                <input class="c17" type="password" ng-model="oldPwd" placeholder="请输入旧密码">
                <div class="clear"></div>
            </div>
            <div class="content">
                <span class="c06" style="line-height:28px">新密码：</span>
                <input class="c17" type="password" ng-model="newPwd" placeholder="请输入新密码">
                <div class="clear"></div>
            </div>
            <div class="content">
                <span class="c06" style="line-height:28px">新密码确认：</span>
                <input class="c17" type="password" ng-model="reNewPwd" placeholder="请确认新密码">
                <div class="clear"></div>
            </div>
            <div class="content">
                <a class="over" ng-click="this.blur();updatePwd();">修改</a>
                <div class="clear"></div>
            </div>
        </div>
<!--
    </div>
</div>-->
