<div style="background:#ffffff">
    <div class="content" style="padding-top:1%;">
        <span style="line-height:2em; margin-left:1%">条件过滤：</span>
        <span style="width:50%">
                 <select class="c12" style="width:14%" ng-model="ftKind">
                     <option value="strPjName">工程名</option>
                     <option value="strType">工程类型</option>
                     <option value="strOwnerAddress">业主单位</option>
                     <option value="strContacts">联系人</option>
                     <option value="strContactWay">联系方式</option>
                     <option value="strInfoNote">工程基本信息</option>
                 </select>
            </span>
        <div class="clear"></div>
    </div>
    <div class="content" style="padding-bottom:1%">
        <span style="line-height:2em; margin-left:1%">过滤内容：</span>
        <input style="margin-left:1%" class="c18" type="text" placeholder="请输入" ng-model="ftContent">
        <a class="build_g" ng-click="this.blur(); doFilter();" style="margin-left:5%">搜索</a>
        <a class="build" ng-click="this.blur();cleanFilter();" style="margin-left:3%">全部显示</a>
        <div class="clear"></div>
    </div>
</div>

<table class="sheet" style="width:90%" cellpadding="0" cellspacing="0">
    <tr>
        <th>工程名</th>
        <th>工程地址</th>
        <th>工程类型</th>
        <th>业主单位</th>
        <th>联系人</th>
        <th>联系方式</th>
        <th>工程基本信息</th>
        <th>操作</th>
    </tr>
    <tr ng-repeat="pj in proInfoList">
        <td>{{pj.strPjName}}</td>
        <td>数据库好像少这个字段</td>
        <td>{{pj.strType}}</td>
        <td>{{pj.strOwnerAddress}}</td>
        <td>{{pj.strContacts}}</td>
        <td>{{pj.strContactWay}}</td>
        <td>{{pj.strInfoNote}}</td>
        <td>
            <span class="opr c15" ng-click="deletePjInfo(pj.intDBPkPjinfoid)">删除</span>
            <span class="opr" ng-click="openUpdatePjInfoModal(pj)">修改</span>
        </td>
    </tr>
</table>
<div style="width:90%; margin:0 auto; margin-top:1%;"><a class="build02" ng-click="this.blur();openPjInfoModal()">追加</a></div>

