<!--底部 开始-->
<div class="footer">
    <span>公司信息</span><span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>联系方式</span><span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>免责声明</span><span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span style=" margin-right:5%">隐私政策</span>
    <span>服务电话：000-000-0000</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>售前支持热线：000-000-0000</span><br/>
    <span>Copyright 2017 大全研究院 All Rights Rights Reserved.</span>
</div>
<!--底部 结束-->